/node_modules
/vendor
.idea/
/.idea

.env
__tests__
testUtils
jest.config.cjs
jest.setup.cjs
jesthtmlreporter.config.json
dist

#Nhớ đổi webhook cho PayOS khi deploy và azure blob storage mở ennable cổng và setup socket tcp

