--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2+cpu
gunicorn
Flask
pdfplumber
google-genai
pandas
xgboost
scikit-learn
joblib
requests
matplotlib
python-dotenv
sqlalchemy
pymysql
neo4j
seleniumbase
beautifulsoup4
lxml
cloudscraper
fake_useragent
bcrypt
sentence-transformers
faiss-cpu
numpy
flask-cors
