--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.4.1+cpu
gunicorn
Flask
flask-cors
pdfplumber
google-generativeai
pandas==3.0.1
xgboost==3.2.0
scikit-learn==1.8.0
joblib
requests
matplotlib
python-dotenv
sqlalchemy
pymysql
neo4j
seleniumbase
beautifulsoup4
lxml
cloudscraper
curl-cffi
fake_useragent
bcrypt
sentence-transformers
transformers==4.46.3
faiss-cpu
numpy==1.26.4
