--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.4.1+cpu
gunicorn
Flask
pdfplumber
google-generativeai
pandas
xgboost
scikit-learn
joblib
requests
matplotlib
python-dotenv
sqlalchemy
pymysql
neo4j
seleniumbase
beautifulsoup4
lxml
cloudscraper
curl-cffi
fake_useragent
bcrypt
sentence-transformers
faiss-cpu
numpy==1.26.4
flask-cors
